@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: lightgray;
}

.header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .5s;
}

.navbar a:hover {
    color: rgb(234, 61, 119);
}

.home{
    display: flex;
    align-items: center;
    height: 100vh;
}